<div class="form-group">
    <div class="col-sm-11">
        <table nsTableRowMoverAngular [setting]="tableRowMoverSetting" class="ccetTable" #tblData>
            <thead>
                <tr data-nsDragAllowed="false" data-nsDropAllowed="false">
                    <th style="width:50px;"></th>
                    <th *ngFor="let col of arrCols" [ngStyle]="{'width': col.width}">{{ col.headerText }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataSource; let i = index" [attr.data-nsDragAllowed]="item.isMovable"
                    [attr.data-nsDropAllowed]="item.isMovable">
                    <td>
                        <a id="anchorClose_{{i}}" href="javascript:void(0);" (click)="removeRecord($event, item, i)"
                            [hidden]="!item.isMovable">
                            <i class="fa fa-close"></i>
                        </a>
                    </td>
                    <td *ngFor="let col of arrCols">{{ item[col.dataField] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>