<div style="margin: 50px; margin-top: 20px;">
    <header>
        <h1>NS Expression Evaluator Demo</h1>
    </header>
    <form [formGroup]="expressionForm" (ngSubmit)="onSubmit()">
        <div>
            <label>
                <input type="checkbox" formControlName="throwErrorForUndefined" />
                Throw Error For Undefined Variables
            </label>
        </div>
        <h2>Expression:</h2>
        <textarea formControlName="expression" style="height: 200px; width: 100%; display: block;"></textarea>
        <h2>Model / Data:</h2>
        <textarea formControlName="model"
            style="height: 200px; width: 100%; display: block; margin: 0 0 10px;"></textarea>
        <button type="submit">Result</button>
    </form>
    <h2>Output:</h2>
    <pre>{{ result }}</pre>
</div>