<div class="box box-ns-red">
    <div class="box-header">
        <h3 class="box-title">Hierarchical Grid Demo</h3>
        <div class="pull-right box-tools">
            <button class="btn btn-secondary" (click)="expandAll()">
                <i class="fa fa-expand"></i>&nbsp;&nbsp;&nbsp;Expand
            </button>
            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <button class="btn btn-secondary btn-sm" (click)="collapseAll()">
                <i class="fa fa-compress text-white"></i>&nbsp;&nbsp;&nbsp;Collapse
            </button>
            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="box-body">
        <ns-grid-angular [setting]="gridSetting" [dataSource]="dataSource" style='width: 100%;'></ns-grid-angular>
    </div>
</div>