html, body, .nmPageContainer
{
    height: 100vh;
}
.nmPageContainer 
{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    /*background-color: #fff !important;*/
    overflow-y:auto;
}
